{% extends "base.html" %}
{% block title %}About - Fitness App{% endblock %}
{% block content %}
<section class="content">
    
    <div class="container">
        <br>
    <center><h1>FlashCard</h1></center>
        {% block body %}

        <div class="row">
            {% for qa in cresults %}
                <div class="col-12 mb-4">
                    <div class="card border-light shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Question {{ loop.index }}</h5>
                            <p class="card-text">{{ qa[0] }}</p>
                            <h5 class="card-title">Answer</h5>
                            <p class="card-text">{{ qa[1] }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endblock %}
    </div>



</section>
{% endblock %}
